﻿@using Proyecto_Final.Models

@model ClientViewModel

@{
    ViewData["Title"] = "Ml Peluqueria";
}
<style>
    #botones {
        visibility: hidden;
    }
</style>

<h4 class="mt-4"> Nuevo Cliente</h4>
<hr />
<div class="row mt-0">
    <div id="tarjeta_nuevo_cliente"  class="card col-md-6">
        <form id="formCrear" asp-action="Create" onsubmit="enviarFormulario(event, 'formCrear')" ;>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="">

            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" type="tel" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" type="email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group mt-3">
                <div class="col-12">
                    <input id="btnConfirmar" type="submit" class="btn btn-primary" value="Guardar" onclick="exitoAlerta();" />
                    <a asp-action="Index" class="btn btn-danger"> Cancelar</a>
                </div>
            </div>
        </form>
    </div>
</div>
