* {
    font-family: "Nunito", sans-serif;
    font-size: 20px;
}
#maps {
    height: 500px;
    width: 100%;

}
#mi_mapa {
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
#pelu{
    padding-top:15px;
}
body{
    background: #fee;    
}
.container {
    margin-top: 30px; /*para separar el navbar cuando tiene la propiedad fixed*/
    
   
}
.container-fluid{
    padding: 1px 10px;    
    
}
.container_contact {
    align-content: center;
    align-items: center;
    justify-content: center;
}

.pelu-logo {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.section-padding {
    padding: 70px 0 40px 0;
}

span{
    font-family: "Nunito", sans-serif;
}

/*Seccion carousel*/
#carouselE {
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    border-radius: 10px;
}
.slide{
    display:flex;
}
.carousel-inner {
    border: 1px solid #adb6c7;
    border-radius: 1px;
}
.carousel-item{
    height: 70vh;
    min-height: 300px;

}
.carousel-caption{
    bottom: 200px;
    z-index: 2;
    
}
.carousel-caption h5{
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
}
.carousel-caption p{
    width: 60%;
    margin: auto;
    font-size: 18px;
}
.carousel-inner::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 30, 83, 0.327);
    z-index: 1;
}
/*Seccion Navbar*/
.navbar{    
    margin: 0;
    padding: 0;
}
nav{
    padding: 0;
    margin: 0;
}
.navbar-nav a {
    margin: 0; /**/
    padding: 0; /**/
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
}
.navbar-brand{
    padding: 5px; /**/
    margin: 0px;
}

.navbar-dark .nabvar-brand {
    margin: 0; /**/
    padding: 0; /**/
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
}
.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover{
    color: #000;
}
.w-100{
    height: 100vh;
}
.navbar-toggler{
    padding: 5px 5px;
    font-size: 18px;
    line-height: 0.3;
}
.navbar-brand .logo{
    width: 100px;
    height: 100px;
}
.nav-item{
    padding: 20px 10px;
}
/*Seccion services y team*/
.about-img {
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
/*Seccion services y team*/
.services .card-body i{
    font-size: 50px;
}
.team .card-body i{
    font-size: 20px;
}
#tarjeta-servicios-index {
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
/*Detalles Reserva*/
#tarjeta-para-reserva {
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    width:550px;
}
.img-detalle {
    display: block;
    margin-left: auto;
    /*margin-right: auto;*/

}
.card .card-body h5 .titulo-reserva {
    font-size:20px;
    font-weight: bold;
}
.items.reserva{
    font-size: 15px;
    font-weight: bold;
}
/*Detalles servicios*/
#detalles-para-la-tarjeta {
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    font-size: 20px;
    font-weight: 400;
    /*background: rgb(2,0,36);*/
    /*background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);*/
    background: #0c539bdd;
}
#detalles-para-la-tarjeta h5{
    font-weight: 800;
    font-size: 30px;
}
/*Detalles clientes*/
#tarjeta_detalle_cliente {
    background: -webkit-linear-gradient(90deg,#ffffff,#7deeff,#ffffff); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(90deg,#ffffff,#7deeff,#ffffff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
/*Nuevo Cliente*/
#tarjeta_nuevo_cliente {
    background: radial-gradient(at 52.93611412341351% 78.79507573293701%, hsla(174.9152542372881, 93.65079365079364%, 24.705882352941178%, 1) 0%, hsla(174.9152542372881, 93.65079365079364%, 24.705882352941178%, 0) 100%), radial-gradient(at 23.657016563680422% 36.8225549678455%, hsla(13.846153846153785, 6.735751295336792%, 62.15686274509804%, 1) 0%, hsla(13.846153846153785, 6.735751295336792%, 62.15686274509804%, 0) 100%), radial-gradient(at 98.10540967574633% 84.86688650017746%, hsla(9.268292682926827, 65.07936507936508%, 37.05882352941177%, 1) 0%, hsla(9.268292682926827, 65.07936507936508%, 37.05882352941177%, 0) 100%), radial-gradient(at 92.30573038893037% 27.23824361650302%, hsla(174.9152542372881, 93.65079365079364%, 24.705882352941178%, 1) 0%, hsla(174.9152542372881, 93.65079365079364%, 24.705882352941178%, 0) 100%), radial-gradient(at 0.20913631473491456% 13.37794095011705%, hsla(13.846153846153785, 6.735751295336792%, 62.15686274509804%, 1) 0%, hsla(13.846153846153785, 6.735751295336792%, 62.15686274509804%, 0) 100%), radial-gradient(at 9.601979689041073% 13.96956071358656%, hsla(9.268292682926827, 65.07936507936508%, 37.05882352941177%, 1) 0%, hsla(9.268292682926827, 65.07936507936508%, 37.05882352941177%, 0) 100%);
    margin-top: 20px;
    padding: 20px;

    border: 1px solid #adb6c7;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
/*Seccion contacto*/
#formulario-para-contacto {
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}


/*Seccion convertir en RESPONSIVE*/
@media(max-width : 767px) {
    .logo-pelu{
        padding:0;
        margin:0;
    }
    .container {
        margin-left: auto;
        margin-right: auto;
    }
    .navbar-nav{
        text-align: center;
    }
    .carousel-item{
        height: 40vh;

    }
    .w-100{
        height: 70vh;
    }
    .carousel-caption{
        bottom: 125px;
    }
    .carousel-caption h5{
        font-size: 17px;
    }
    .carousel-caption a{
        padding: 10px 15px;
        font-size: 15px;
    }
    .carousel-caption p{
        width: 100%;
        line-height: 1.5;
        font-size: 12px;
    }
    .about-text{
        padding-top: 50px;
    }
    .card{
        margin-bottom: 30px;
    }
    .section-padding{
        padding: 50px 0;
    }
    /*detalle reserva*/
    #tarjeta-para-reserva {
        display: flex;
        width: auto;
    }
    #MyTable_length, #MyTable_length, #MyTable_info{
        display: none;
    }
    #ocultar{
        display: none;
    }
}


/*estilos modal*/
/* Absolute Center Spinner */
.loading {
    position: fixed;
    display: none;
    z-index: 1031;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}


    /* Transparent Overlay */
    .loading:before {
        content: '';
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.3);
    }

    /* :not(:required) hides these rules from IE9 and below */
    .loading:not(:required) {
        font: 0/0 a;
        color: transparent;
        text-shadow: none;
        background-color: transparent;
        border: 0;
    }

        .loading:not(:required):after {
            content: '';
            display: block;
            font-size: 10px;
            width: 1em;
            height: 1em;
            margin-top: -0.5em;
            -webkit-animation: spinner 1500ms infinite linear;
            -moz-animation: spinner 1500ms infinite linear;
            -ms-animation: spinner 1500ms infinite linear;
            -o-animation: spinner 1500ms infinite linear;
            animation: spinner 1500ms infinite linear;
            border-radius: 0.5em;
            -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
            box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
        }

/* Animation */
@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-o-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

.text-danger span::before {
    content: "";
    display: block;
    background: url('/images/error.png');
    width: 20px;
    height: 20px;
    float: left;
    margin: 0 6px 0 0;
}
