<!--Seccion Contacto-->

<section id="contact" class="contact section-padding">

    <div class="mt-5 mb-5 container">

        <div class="row">
            <div class="col-md-12">
                <div class="section-header texte-center text-white pb-5">
                    <h2>Contacto</h2>
                    <p>
                        Lorem ipsum dolor, <br>sit amet consectetur adipisicing elit. Ratione qui id architecto
                        quidem?
                    </p>
                </div>
            </div>
        </div>
        <div class="row m-0">
            <div class="col-md-12 p-0 pt-4 pb-4">
                <form action="https://formsubmit.co/diaz.jose.manuel.04@gmail.com" method="POST" class="bg-dark p-4 m-auto">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mb-3">
                                <input type="text" class="form-control" name="Nombre" placeholder="Nombre">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="mb-3">
                                <input type="email" class="form-control" name="email" placeholder="Correo">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="mb-3">
                                <textarea class="form-control" rows="3" name="mensaje" placeholder="Mensaje"></textarea>
                            </div>
                        </div>
                        <input class="btn btn-primary btn-lg btn-block mt-3" type="submit" value="Enviar">

                        <input type="hidden" name="_next" value="https://localhost:7091/" />
                        <input type="hidden" name="_captcha" value="false" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

@* <form action="https://formsubmit.co/diaz.jose.manuel.04@gmail.com" method="POST" class="bg-dark p-4 m-auto">
    <div class="row">
        <div class="col-md-12">
            <div class="mb-3">
                <input type="text" class="form-control" name="Nombre" placeholder="Nombre">
            </div>
        </div>
        <div class="col-md-12">
            <div class="mb-3">
                <input type="email" class="form-control" name="email" placeholder="Correo">
            </div>
        </div>
        <div class="col-md-12">
            <div class="mb-3">
                <textarea class="form-control" rows="3" name="mensaje" placeholder="Mensaje"></textarea>
            </div>
        </div>
        <input class="btn btn-primary btn-lg btn-block mt-3" type="submit" value="Enviar">

        <input type="hidden" name="_next" value="https://localhost:7091/" />
        <input type="hidden" name="_captcha" value="false" />
    </div>
</form> *@