@using Proyecto_Final.Data.Entidades

@model IEnumerable<Service>
<!--Seccion Servicios-->
<section id="portfolio" class="portfolio section-padding">

    <div class="container">

        <div class="row">
            <div class="col-12">
                <div class="section-head text-white pb-5 text-center">
                    <h2>Nuestros Servicios</h2>
                    <p>
                        Lorem ipsum dolor, <br>sit amet consectetur adipisicing elit. Ratione qui id architecto
                        quidem?
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-12 col-md-12 col-lg-4 mb-3">
                    <div class="card text-light bg-dark pb-2 text-center">
                        <div class="card-body text-white">
                            <div class="img-area mb-4">
                                <img src="@item.ImageFullPath" style="width:100px; height:100px; border-radius:50px" />
                            </div>
                            <h3>@Html.DisplayFor(modelItem => item.Nombre)</h3>
                            <p class="lead">
                                @Html.DisplayFor(modelItem => item.Descripcion)
                            </p>
                            <button href="#" class="btn bg-primary text-white">Mas informacion</button>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</section>