<link rel="stylesheet" href="~/css/estilos_footer.css" />
<div class="partFooter">
    <img src="img/logo.png" alt="">
</div>
<div class="partFooter">
    <h4>Servicios</h4>
    <a href="#">Servicio 1</a>
    <a href="#">Servicio 2</a>
    <a href="#">Servicio 3</a>
</div>
<div class="partFooter">
    <h4>Acerca de</h4>
    <a href="#">Acerca 1</a>
    <a href="#">Acerca 2</a>
    <a href="#">Acerca 3</a>
</div>
<div class="partFooter">
    <h4>Redes Sociales</h4>
    <div class="social-media">
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-twitter"></i>
        <i class="fa-brands fa-youtube"></i>

    </div>
</div>