
<link rel="stylesheet" href="~/css/estilos_footer.css" />


<footer class="justify-content-between align-items-center py-3 border-top bg-primary">
    <div class="col-md-6 d-flex align-items-center mx-3">
        <a href="#" class="nombrePelu text-light"><span class="text-danger">ML</span>Peluqueria Copyright ©. Todos los derechos reservados</a>
    </div>
    <div class="partFooter col-md-4 justify-content-end mr-3">
        <div class="social-media">
            <a href="https://www.facebook.com" target="_blank"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://www.instagram.com" target="_blank"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://www.tiktok.com" target="_blank"><i class="fa-brands fa-tiktok"></i></a>

        </div>
    </div>
</footer>




@* <span class="mb-3 mb-md-0 text-light">© 2024 Company, Inc</span> *@